@using ClimbSociety.Controllers
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ClimbSociety</h1>
    <p>-=- Deze view is @ViewData["cookies"] keer bekeken -=-</></p>
</div>
